@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

.bg-grid {
  background-image: linear-gradient(
      rgba(200, 200, 200, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(200, 200, 200, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Define the animation class */
@layer utilities {
  .animate-gradient-triangle {
    animation: gradientShift 10s ease infinite;
    background-size: 300% 300%;
  }

  .animate-gradient-text {
    animation: gradientShift 10s ease infinite;
    background-size: 1000% 300%;
  }

  /* Create a triangle shape */
  .clip-triangle {
    clip-path: polygon(0% 0%, 3700px 0%, 0% 100%);
  }

  .clip-triangle-bottom {
    clip-path: polygon(-2000px 100%, 3500px 0%, 3500px 100%);
  }

  .clip-angle-line {
    clip-path: polygon(0% 350px, 100% 100px, 100% 350px, 0% 600px);
  }
  /* .clip-angle-line {
    clip-path: polygon(0px 450px, 2500px 100px, 2500px 350px, 0px 700px);
    top: -100px;
  } */
}
